/*!* HeroesComponent's private CSS styles *!*/
.heroes {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	list-style-type: none;
	margin: 10px;
}

.heroes li {
	margin: 5px;
}

mat-card {
	padding: 0;
	max-width: 250px;
	height: 100%;
}

.mat-card-image {
	width: 100%;
	max-height: 100%;
	/*min-width: 100%;*/
	object-fit: cover;
	vertical-align: bottom;
	margin: 0;
}
mat-card-header {
	margin: 0;
	padding: 5px;
}

.mat-card-header:hover {
	color: #008b6f;
	background-color: #DDD;
}

.heroes .id-badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #006157;
	line-height: 1em;
	position: relative;
	left: -5px;
	top: 0px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 4px 4px 4px;
}

.heroes a {
	text-decoration: none;
	color: #333;
}

.heroes a:hover {
	color: #008b6f;
}


button {
	/*margin-top: 10px;*/
	font-family: Arial, sans-serif;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: #cfd8dc;
}
button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}

button.delete {
	position: absolute;
	right: 20px;
	top: 10px;
	/*position: relative;*/
	/*left: 100px;*/
	/*top: -53px;*/
	background-color: gray;
	color: white;
}
