/*.mat-dialog-content {*/
/*	width: 600px;*/
/*}*/


button {
	margin-top: 20px;
	font-family: Arial, sans-serif;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: #cfd8dc;
}
button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}

ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
	list-style-type: none;
	margin: 10px;
}

.avatar-choice-image {
	width: 50px;
	max-height: 50px;
	padding: 7px;
	object-fit: cover;
	vertical-align: bottom;
	cursor: pointer;
}

.avatar-gallery {
	height: 150px;
}
